.vurstore-footer {
    padding-top: 50px;
    padding-bottom: 75px;
    background: linear-gradient(
        180deg,
        rgba(241, 253, 250, 0) 0%,
        #f1fdfa 100%
    );

    .footer-logo {
        margin-bottom: 14px;
    }

    .footer-menu {
        .nav-link {
            padding: 4px 0;
            color: $grey;
            @include font-size(14px);

            &:hover {
                color: #90969d;
            }
        }
    }

    .footer-menu-title {
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        color: $dark;
        @include font-size(16px);
        margin-bottom: 10px;
    }

    .form-control {
        max-width: 164px;
        height: auto;
    }
}

.copyright {
    padding: 24px;
    color: #737b83;
    background-color: #121111;
    @include font-size(14px);

    a {
        color: #737b83;
    }
}
