body {
    font-family: "Lato", sans-serif;
    color: $grey;
    background-color: $background;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: #edeef2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #00887b;

        &:hover {
            background-color: #525a61;
        }
    }

    .section-title {
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        line-height: 31px;
        color: $dark;
        @include font-size(22px);
        margin-bottom: 24px;

        @include media-breakpoint-up(lg) {
            @include font-size(24px);
        }

        span {
            color: $primary;
        }
    }
}
